NodeRedJSIoTReciever.json
[{"id":"99aa058c.9d39a8","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"apiKey","apiKey":"54f4e123.a73af","inputType":"evt","deviceId":"MyIoTDevice","applicationId":"","deviceType":"MyIoTDevice","eventType":"capture_store","commandType":"","format":"json","name":"camera_capture_IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":148,"y":464,"wires":[["443fb7f5.54aa58"]]},{"id":"a6298eb9.d97e2","type":"function","z":"deb0d57.1c46528","name":"fetchIMGPayload","func":"var processed_count = global.get(\"processed\");\nif(processed_count==3 && global.get(\"htmlresult\").trim() !== \"\")\n{\nvar img_id = global.get(\"img_id\");\nvar img_base64 = global.get(\"img_base64\");\nvar result = \"<html><body>\"+global.get(\"htmlresult\")+\"</body></html>\";\nvar app_id = global.get(\"app_id\");\nvar random_img_obj_str = global.get(\"random_img_obj_str\");\n\n/*\n*calculate score for this call\n*/\nvar score = 0;\n\nvar arr=random_img_obj_str.split(\".\");\nfor(var i=0;i<arr.length;i++)\n{\nif(arr[i].trim() !== \"\")\n    {\n    if(result.toLowerCase().includes(arr[i].trim().toLowerCase()))\n        {\n        score++;\n        }\n    }\n}\n\nvar db_record = {\"random_img_obj_str\":random_img_obj_str,\"img_id\":img_id,\"app_id\":app_id,\"img_result_html\":result,\"_id\":img_id,\"img_base64\":img_base64,\"score\":score};\n\nglobal.set(\"last_db_rec\",db_record);\nreturn {payload:db_record};\n}","outputs":1,"noerr":0,"x":794.5,"y":274,"wires":[["ede1872a.851838"]]},{"id":"14656012.ed4ff","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"apiKey","apiKey":"54f4e123.a73af","outputType":"cmd","deviceId":"MyIoTDevice","deviceType":"MyIoTDevice","eventCommandType":"refreshUI","format":"text","data":"msg.payload","qos":"0","name":"notifyToDevice","service":"registered","x":1041,"y":453,"wires":[]},{"id":"89382b7.86eaad8","type":"function","z":"deb0d57.1c46528","name":"fetchID","func":"var img_id = global.get(\"img_id\");\nreturn {payload:img_id};","outputs":1,"noerr":0,"x":1004.5,"y":317,"wires":[["14656012.ed4ff"]]},{"id":"42ecd167.1a9cf","type":"function","z":"deb0d57.1c46528","name":"vrFunction","func":"var img_base64 = msg.payload.img_base64;\nvar img_id = msg.payload.img_id;\nvar app_id = msg.payload.app_id;\nglobal.set(\"img_base64\",img_base64);\nglobal.set(\"img_id\",img_id);\nglobal.set(\"app_id\",app_id);\nglobal.set(\"random_img_obj_str\",msg.payload.random_img_obj_str);\nglobal.set(\"htmlresult\",\"\");\nglobal.set(\"processed\",0);\nglobal.set(\"exception\",0);\n\n\nvar classifiers_lst=[];\nclassifiers_lst.push(\"default\");\nvar cnt = 0;\nif(msg.result){\n    if(msg.result.classifiers.length > 0){\n        for(i=0;i<msg.result.classifiers.length;i++){\n            if(msg.result.classifiers[i].status == \"ready\"){\n                classifiers_lst.push(msg.result.classifiers[i].classifier_id);\n            }\n        }\n    }\n}\n\nreturn {payload:img_base64,params:{\"classifier_ids\":classifiers_lst}};","outputs":1,"noerr":0,"x":126,"y":281,"wires":[["c9e01825.f99d08"]]},{"id":"a4ff0c39.f7097","type":"visual-recognition-v3","z":"deb0d57.1c46528","name":"classifyImage","apikey":"","image-feature":"classifyImage","lang":"en","x":335,"y":206,"wires":[["5372d322.6ab3bc","e6ecd42f.3f5178"]]},{"id":"54c8442b.229d2c","type":"visual-recognition-v3","z":"deb0d57.1c46528","name":"detectFaces","apikey":"","image-feature":"detectFaces","lang":"en","x":356,"y":292,"wires":[["dcca1ea0.3e177"]]},{"id":"8d37cdc.5379c3","type":"visual-recognition-v3","z":"deb0d57.1c46528","name":"RecText","apikey":"","image-feature":"recognizeText","lang":"en","x":352,"y":379,"wires":[["759e2fd4.3c629"]]},{"id":"c9e01825.f99d08","type":"base64","z":"deb0d57.1c46528","name":"","x":122.5,"y":211,"wires":[["a4ff0c39.f7097","54c8442b.229d2c","8d37cdc.5379c3"]]},{"id":"5372d322.6ab3bc","type":"function","z":"deb0d57.1c46528","name":"classifierHTML","func":"var json_obj = msg;\n\nvar result = \"\";\nif(!json_obj.watsonerror && json_obj.result.images.length > 0)\n{\nfor (i = 0; i < json_obj.result.images.length; i++) \n    {\n        var img = json_obj.result.images[i];\n        for(j=0;j<img.classifiers.length;j++){\n            var classifier = img.classifiers[j];\n            for(k=0;k<classifier.classes.length;k++){\n                var claz = classifier.classes[k];\n                result = result + \"<br/>\"+claz.class+\":\"+claz.score;\n            }\n        }\n    }\n}\n\nvar htmlresult = global.get(\"htmlresult\");\nglobal.set(\"htmlresult\",htmlresult+result);\n\nvar processed = global.get(\"processed\");\nprocessed++;\nglobal.set(\"processed\",processed);\n\nreturn {classifierpayload:result};","outputs":1,"noerr":0,"x":562.5,"y":205,"wires":[["a6298eb9.d97e2"]]},{"id":"dcca1ea0.3e177","type":"function","z":"deb0d57.1c46528","name":"detectFacesHTML","func":"var json_obj = msg;\n\nvar result = \"\";\nif(!json_obj.watsonerror && json_obj.result.images.length > 0)\n{\nfor (i = 0; i < json_obj.result.images.length; i++) \n    {\n        var img = json_obj.result.images[i];\n        for(j=0;j<img.faces.length;j++){\n            var face = img.faces[j];\n            if(face.age){\n                result = result + \"<br/>min age:\"+face.age.min+\", max age:\"+face.age.max+\", score:\"+face.age.score;}\n            if(face.gender){\n                result = result + \"<br/>\"+face.gender.gender+\":\"+face.gender.score;\n            }\n            if(face.identity){\n                result = result + \"<br/>identity:\"+face.identity.name+\", score:\"+face.identity.score;\n            }\n        }\n    }\n}\n\nvar htmlresult = global.get(\"htmlresult\");\nglobal.set(\"htmlresult\",htmlresult+result);\n\nvar processed = global.get(\"processed\");\nprocessed++;\nglobal.set(\"processed\",processed);\n\nreturn {detectfacespayload:result};","outputs":1,"noerr":0,"x":555.5,"y":272,"wires":[["a6298eb9.d97e2"]]},{"id":"759e2fd4.3c629","type":"function","z":"deb0d57.1c46528","name":"textRecHTML","func":"var json_obj = msg;\n\nvar result = \"\";\nif(!json_obj.watsonerror && json_obj.result.images.length > 0)\n{\nfor (i = 0; i < json_obj.result.images.length; i++) \n    {\n        var img = json_obj.result.images[i];\n        if(img.text){\n            result = result+\"<br/>text:\"+img.text;\n        }\n        if(img.words){\n        for(j=0;j<img.words.length;j++){\n            result = result + \"<br/>word:\"+img.words[j].word+\", score:\"+img.words[j].score;\n            if(j==5)\n                break;\n        }\n        }\n    }\n}\n\nvar htmlresult = global.get(\"htmlresult\");\nglobal.set(\"htmlresult\",htmlresult+result);\n\nvar processed = global.get(\"processed\");\nprocessed++;\nglobal.set(\"processed\",processed);\n\nreturn {textrecpayload:result};","outputs":1,"noerr":0,"x":543.5,"y":378,"wires":[["a6298eb9.d97e2"]]},{"id":"ede1872a.851838","type":"json","z":"deb0d57.1c46528","name":"","pretty":true,"x":980.5,"y":233,"wires":[["f6ed30f2.c91c6","76d83eec.5224b"]]},{"id":"f6ed30f2.c91c6","type":"cloudant out","z":"deb0d57.1c46528","name":"","cloudant":"","database":"scavengerimagesdb","service":"scavengerApp-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1069.5,"y":140,"wires":[]},{"id":"76d83eec.5224b","type":"delay","z":"deb0d57.1c46528","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":797.5,"y":374,"wires":[["89382b7.86eaad8"]]},{"id":"fc969514.189a48","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"checkForPublishIoT","payloadType":"str","repeat":"7","crontab":"","once":false,"x":243.5,"y":553,"wires":[["ffd225d4.dfa108"]]},{"id":"4a7bdc7f.2141c4","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"apiKey","apiKey":"54f4e123.a73af","outputType":"cmd","deviceId":"MyIoTDevice","deviceType":"MyIoTDevice","eventCommandType":"checkForPublishIoT","format":"text","data":"msg.payload","qos":0,"name":"checkForPublishIoT","service":"registered","x":966.5,"y":539,"wires":[]},{"id":"4c74d1ec.720af","type":"catch","z":"deb0d57.1c46528","name":"classifyImgErr","scope":["a4ff0c39.f7097"],"x":312.5,"y":65,"wires":[["e114b23c.3f7a6"]]},{"id":"e114b23c.3f7a6","type":"function","z":"deb0d57.1c46528","name":"setErrCnt","func":"var cnt = global.get(\"exception\");\ncnt++;\nglobal.set(\"exception\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":521.5,"y":62,"wires":[[]]},{"id":"4905771e.bd99e8","type":"catch","z":"deb0d57.1c46528","name":"detectFaces","scope":["54c8442b.229d2c"],"x":312.5,"y":107,"wires":[["149ed2a6.5cb7bd"]]},{"id":"149ed2a6.5cb7bd","type":"function","z":"deb0d57.1c46528","name":"setErrCnt","func":"var cnt = global.get(\"exception\");\ncnt++;\nglobal.set(\"exception\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":522.5,"y":105,"wires":[[]]},{"id":"9d385f12.587cb","type":"catch","z":"deb0d57.1c46528","name":"textRecognition","scope":["8d37cdc.5379c3"],"x":320.5,"y":148,"wires":[["6e039029.ac7be"]]},{"id":"6e039029.ac7be","type":"function","z":"deb0d57.1c46528","name":"setErrCnt","func":"var cnt = global.get(\"exception\");\ncnt++;\nglobal.set(\"exception\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":521.5,"y":150,"wires":[[]]},{"id":"ffd225d4.dfa108","type":"function","z":"deb0d57.1c46528","name":"checkForException","func":"var cnt = global.get(\"exception\");\nif(cnt===undefined || cnt <3){\ncnt=0;\nglobal.set(\"exception\",0);\nreturn {payload:0};\n}\nif(cnt == 3){\n  global.set(\"exception\",0); \n  return {payload:3}\n}\n","outputs":1,"noerr":0,"x":524.5,"y":520,"wires":[["3c702696.7facea","b328019d.87b77"]]},{"id":"3c702696.7facea","type":"switch","z":"deb0d57.1c46528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"lt","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":773.5,"y":458,"wires":[["14656012.ed4ff"],["4a7bdc7f.2141c4"]]},{"id":"443fb7f5.54aa58","type":"visual-recognition-util-v3","z":"deb0d57.1c46528","name":"getClassifiers","apikey":"","image-feature":"retrieveClassifiersList","x":132.5,"y":364,"wires":[["42ecd167.1a9cf"]]},{"id":"827c1af1.2a5568","type":"catch","z":"deb0d57.1c46528","name":"catchDBException","scope":["f6ed30f2.c91c6"],"x":757.5,"y":106,"wires":[["84f7eb65.d8a448"]]},{"id":"84f7eb65.d8a448","type":"function","z":"deb0d57.1c46528","name":"getLastDBRec","func":"var rec = global.get(\"last_db_rec\");\nreturn {payload:rec};","outputs":1,"noerr":0,"x":804.5,"y":198,"wires":[["ede1872a.851838"]]},{"id":"e6ecd42f.3f5178","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"true","x":112.5,"y":100,"wires":[]},{"id":"b328019d.87b77","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"false","x":792.5,"y":644,"wires":[]},{"id":"54f4e123.a73af","type":"ibmiot","z":"","name":"arprasto-apikey","keepalive":"60","serverName":"2o7rzo.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]