NodeRedJSIoTReciever.json
[{"id":"fb35c667.053af8","type":"ibmiot in","z":"f9b5feb7.5810d","authentication":"boundService","apiKey":"d8efd89e.e286f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mac","applicationId":"","deviceType":"iotdevice","eventType":"capture_store","commandType":"","format":"json","name":"camera_capture_IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":false,"allCommands":"","allFormats":"","qos":"1","x":150,"y":440,"wires":[["cefb439c.0258f8"]]},{"id":"7b22d783.4b75f8","type":"function","z":"f9b5feb7.5810d","name":"fetchIMGPayload","func":"var processed_count = global.get(\"processed\");\nif(processed_count==2 && global.get(\"htmlresult\").trim() !== \"\")\n{\nvar img_id = global.get(\"img_id\");\nvar img_base64 = global.get(\"img_base64\");\nvar result = \"<html><body>\"+global.get(\"htmlresult\")+\"</body></html>\";\nvar app_id = global.get(\"app_id\");\nvar random_img_obj_str = global.get(\"random_img_obj_str\");\n\n/*\n*calculate score for this call\n*/\nvar score = 0;\n\n/*var arr=random_img_obj_str.split(\".\");\nfor(var i=0;i<arr.length;i++)\n{\nif(arr[i].trim() !== \"\")\n    {\n    if(result.toLowerCase().includes(arr[i].trim().toLowerCase()))\n        {\n        score++;\n        }\n    }\n}*/\n\n//var db_record = {\"random_img_obj_str\":random_img_obj_str,\"img_id\":img_id,\"app_id\":app_id,\"img_result_html\":result,\"_id\":img_id,\"img_base64\":img_base64,\"score\":score};\nvar db_record = {\"img_id\":img_id,\"app_id\":app_id,\"img_result_html\":result,\"_id\":img_id,\"img_base64\":img_base64,\"score\":score};\nglobal.set(\"last_db_rec\",db_record);\nreturn {payload:db_record};\n}","outputs":1,"noerr":0,"x":796.5,"y":250,"wires":[["5524bd52.816364"]]},{"id":"555aeb90.be3c94","type":"ibmiot out","z":"f9b5feb7.5810d","authentication":"boundService","apiKey":"d8efd89e.e286f","outputType":"cmd","deviceId":"mac","deviceType":"iotdevice","eventCommandType":"refreshUI","format":"text","data":"msg.payload","qos":"0","name":"notifyToDevice","service":"registered","x":980,"y":480,"wires":[]},{"id":"9f4e5bcf.ff99c","type":"function","z":"f9b5feb7.5810d","name":"fetchID","func":"var img_id = global.get(\"img_id\");\nreturn {payload:img_id};","outputs":1,"noerr":0,"x":1000,"y":380,"wires":[["555aeb90.be3c94"]]},{"id":"9236f5a7.e4fdc","type":"function","z":"f9b5feb7.5810d","name":"vrFunction","func":"var img_base64 = msg.payload.img_base64;\nvar img_id = msg.payload.img_id;\nvar app_id = msg.payload.app_id;\nglobal.set(\"img_base64\",img_base64);\nglobal.set(\"img_id\",img_id);\nglobal.set(\"app_id\",app_id);\nglobal.set(\"random_img_obj_str\",msg.payload.random_img_obj_str);\nglobal.set(\"htmlresult\",\"\");\nglobal.set(\"processed\",0);\nglobal.set(\"exception\",0);\n\n\nvar classifiers_lst=[];\nclassifiers_lst.push(\"default\");\nvar cnt = 0;\nif(msg.result){\n    if(msg.result.classifiers.length > 0){\n        for(i=0;i<msg.result.classifiers.length;i++){\n            if(msg.result.classifiers[i].status == \"ready\"){\n                classifiers_lst.push(msg.result.classifiers[i].classifier_id);\n            }\n        }\n    }\n}\n\nreturn {payload:img_base64,params:{\"classifier_ids\":classifiers_lst}};","outputs":1,"noerr":0,"x":128,"y":257,"wires":[["489c85fa.e41164"]]},{"id":"2efee183.f5bb36","type":"visual-recognition-v3","z":"f9b5feb7.5810d","name":"classifyImage","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":337,"y":182,"wires":[["33eb0f66.a6caf8"]]},{"id":"ef6f2285.535fc8","type":"visual-recognition-v3","z":"f9b5feb7.5810d","name":"detectFaces","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":358,"y":268,"wires":[["e8326b9f.0b0b28"]]},{"id":"489c85fa.e41164","type":"base64","z":"f9b5feb7.5810d","name":"","x":124.5,"y":187,"wires":[["2efee183.f5bb36","ef6f2285.535fc8"]]},{"id":"33eb0f66.a6caf8","type":"function","z":"f9b5feb7.5810d","name":"classifierHTML","func":"var json_obj = msg;\n\nvar result = \"\";\nif(!json_obj.watsonerror && json_obj.result.images.length > 0)\n{\nfor (i = 0; i < json_obj.result.images.length; i++) \n    {\n        var img = json_obj.result.images[i];\n        for(j=0;j<img.classifiers.length;j++){\n            var classifier = img.classifiers[j];\n            for(k=0;k<classifier.classes.length;k++){\n                var claz = classifier.classes[k];\n                result = result + \"<br/>\"+claz.class+\":\"+claz.score;\n            }\n        }\n    }\n}\n\nvar htmlresult = global.get(\"htmlresult\");\nglobal.set(\"htmlresult\",htmlresult+result);\n\nvar processed = global.get(\"processed\");\nprocessed++;\nglobal.set(\"processed\",processed);\n\nreturn {classifierpayload:result};","outputs":1,"noerr":0,"x":564.5,"y":181,"wires":[["7b22d783.4b75f8","63a55ad5.6ad6d4"]]},{"id":"e8326b9f.0b0b28","type":"function","z":"f9b5feb7.5810d","name":"detectFacesHTML","func":"var json_obj = msg;\n\nvar result = \"\";\nif(!json_obj.watsonerror && json_obj.result.images.length > 0)\n{\nfor (i = 0; i < json_obj.result.images.length; i++) \n    {\n        var img = json_obj.result.images[i];\n        for(j=0;j<img.faces.length;j++){\n            var face = img.faces[j];\n            if(face.age){\n                result = result + \"<br/>min age:\"+face.age.min+\", max age:\"+face.age.max+\", score:\"+face.age.score;}\n            if(face.gender){\n                result = result + \"<br/>\"+face.gender.gender+\":\"+face.gender.score;\n            }\n            if(face.identity){\n                result = result + \"<br/>identity:\"+face.identity.name+\", score:\"+face.identity.score;\n            }\n        }\n    }\n}\n\nvar htmlresult = global.get(\"htmlresult\");\nglobal.set(\"htmlresult\",htmlresult+result);\n\nvar processed = global.get(\"processed\");\nprocessed++;\nglobal.set(\"processed\",processed);\n\nreturn {detectfacespayload:result};","outputs":1,"noerr":0,"x":557.5,"y":248,"wires":[["7b22d783.4b75f8","6547daba.31ed1c"]]},{"id":"5524bd52.816364","type":"json","z":"f9b5feb7.5810d","name":"","pretty":true,"x":982.5,"y":209,"wires":[["299e7637.3d95c2","900aba16.784c28"]]},{"id":"299e7637.3d95c2","type":"cloudant out","z":"f9b5feb7.5810d","name":"","cloudant":"","database":"predictionresultdb","service":"arpitIoTTest-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1061.5,"y":116,"wires":[]},{"id":"900aba16.784c28","type":"delay","z":"f9b5feb7.5810d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":300,"wires":[["9f4e5bcf.ff99c"]]},{"id":"47bce1ad.50445","type":"inject","z":"f9b5feb7.5810d","name":"","topic":"","payload":"checkForPublishIoT","payloadType":"str","repeat":"7","crontab":"","once":false,"x":180,"y":520,"wires":[["9f5da435.2f8ff"]]},{"id":"9cf7d987.a88ab8","type":"ibmiot out","z":"f9b5feb7.5810d","authentication":"boundService","apiKey":"bccb477a.e60bc","outputType":"cmd","deviceId":"mac","deviceType":"iotdevice","eventCommandType":"checkForPublishIoT","format":"text","data":"msg.payload","qos":0,"name":"checkForPublishIoT","service":"registered","x":960,"y":580,"wires":[]},{"id":"41af95df.9d06ac","type":"catch","z":"f9b5feb7.5810d","name":"classifyImgErr","scope":["2efee183.f5bb36"],"x":314.5,"y":41,"wires":[["577ce5c9.725a04"]]},{"id":"577ce5c9.725a04","type":"function","z":"f9b5feb7.5810d","name":"setErrCnt","func":"var cnt = global.get(\"exception\");\ncnt++;\nglobal.set(\"exception\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":523.5,"y":38,"wires":[[]]},{"id":"4b53368.ec93048","type":"catch","z":"f9b5feb7.5810d","name":"detectFaces","scope":["ef6f2285.535fc8"],"x":314.5,"y":83,"wires":[["cfeff2a4.01944"]]},{"id":"cfeff2a4.01944","type":"function","z":"f9b5feb7.5810d","name":"setErrCnt","func":"var cnt = global.get(\"exception\");\ncnt++;\nglobal.set(\"exception\",cnt);\nreturn msg;","outputs":1,"noerr":0,"x":524.5,"y":81,"wires":[[]]},{"id":"9f5da435.2f8ff","type":"function","z":"f9b5feb7.5810d","name":"checkForException","func":"var cnt = global.get(\"exception\");\nif(cnt===undefined || cnt <2){\ncnt=0;\nglobal.set(\"exception\",0);\nreturn {payload:0};\n}\nif(cnt == 2){\n  global.set(\"exception\",0); \n  return {payload:2}\n}\n","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["d32c6b35.8aea1","aa75d8d8.332af8"]]},{"id":"d32c6b35.8aea1","type":"switch","z":"f9b5feb7.5810d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"lt","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":520,"wires":[["555aeb90.be3c94"],["9cf7d987.a88ab8"]]},{"id":"cefb439c.0258f8","type":"visual-recognition-util-v3","z":"f9b5feb7.5810d","name":"getClassifiers","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"retrieveClassifiersList","x":134.5,"y":340,"wires":[["9236f5a7.e4fdc"]]},{"id":"1ca41ef4.5d6c19","type":"catch","z":"f9b5feb7.5810d","name":"catchDBException","scope":["299e7637.3d95c2"],"x":759.5,"y":82,"wires":[["fe21ae4c.605f28"]]},{"id":"fe21ae4c.605f28","type":"function","z":"f9b5feb7.5810d","name":"getLastDBRec","func":"var rec = global.get(\"last_db_rec\");\nreturn {payload:rec};","outputs":1,"noerr":0,"x":806.5,"y":174,"wires":[["5524bd52.816364"]]},{"id":"63a55ad5.6ad6d4","type":"debug","z":"f9b5feb7.5810d","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":590,"y":120,"wires":[]},{"id":"aa75d8d8.332af8","type":"debug","z":"f9b5feb7.5810d","name":"","active":false,"console":"false","complete":"false","x":750,"y":420,"wires":[]},{"id":"6547daba.31ed1c","type":"debug","z":"f9b5feb7.5810d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":320,"wires":[]},{"id":"d8efd89e.e286f","type":"ibmiot","z":"","name":"arpit_apikey1","keepalive":"60","serverName":"7jetgh.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"bccb477a.e60bc","type":"ibmiot","z":"","name":"arprasto-apikey","keepalive":"60","serverName":"2o7rzo.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]